body{
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  background-image: url('/public/img/lamb3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;

}

.app-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}